<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.data.BoardMapper">
	<select id="list" resultType="bdto" parameterType="HashMap">
		select b.*,m.* from board b, member m where b.no=m.no and subject like concat('%',#{search},'%') order by
		<choose>
	        <when test="select == '최신순'">board_no desc</when>
	        <when test="select == '조회순'">readcount desc</when>
	        <when test="select == '낮은가격순'">requirepoint asc</when>
	        <when test="select == '높은가격순'">requirepoint desc</when>
	        <otherwise>board_no desc</otherwise>
    	</choose>
		limit #{startNum},#{amount};
	</select>

	<select id="count" resultType="int" parameterType="String">
		select count(*) from board where subject like concat('%',#{search},'%');
	</select>
	
	<insert id="BoardInsert" parameterType="bdto">
		insert into board(no, subject, requirepoint, content, writeday) values(#{no}, #{subject}, #{requirepoint}, #{content}, sysdate())
	</insert>
	
	<select id="getInsertNum" resultType="int" parameterType="String">
		select max(board_no) from board where no=#{no}
	</select>
	
	<select id="getData" resultType="bdto" parameterType="String">
		select b.*,m.* from board b, member m where b.no=m.no and board_no=#{board_no}
	</select>
	
	<update id="updateReadcount" parameterType="String">
		update board set readcount=readcount+1 where board_no = #{board_no}
	</update>
	
	<delete id="deleteBoard" parameterType="String">
		delete from board where board_no=#{board_no}
	</delete>
	
	<select id="getHistoryNum" resultType="int">
		select max(point_no) from point_history
	</select>
	
	<insert id="buyBoard" parameterType="HashMap">
		insert into buy values(#{no}, #{board_no}, #{member_no}, sysdate())
	</insert>
	<insert id="pointHistoryOfBoard" parameterType="HashMap">
		insert into point_history(history_mno, point_amount, category, history_day) values(#{member_no}, #{requirepoint}, #{category}, sysdate())
	</insert>
	<update id="updateMemberPoint" parameterType="HashMap">
		update member set point=point-#{requirepoint} where no=#{member_no}
	</update>
	<update id="updatePlusMemberPoint" parameterType="HashMap">
		update member set point=point+#{requirepoint} where no=#{no}
	</update>
	<select id="currentPoint" parameterType="String" resultType="int">
		select point from member where no=#{member_no}
	</select>
	<select id="buyedcheck" parameterType="HashMap" resultType="int">
		select count(*) from buy where buy_bno=#{board_no} and buy_mno=#{member_no}
	</select>
	
	<update id="updateBoard" parameterType="bdto">
		update board set subject=#{subject}, requirepoint=#{requirepoint}, content=#{content} where board_no=#{board_no}
	</update>
</mapper>