<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.data.BoardMapper">
	<select id="list" resultType="bdto" parameterType="HashMap">
		select b.*,m.* from board b, member m where b.no=m.no and subject like concat('%',#{search},'%') order by
		<choose>
	        <when test="select == '최신순'">board_no desc</when>
	        <when test="select == '조회순'">readcount desc</when>
	        <when test="select == '낮은가격순'">requirepoint asc</when>
	        <when test="select == '높은가격순'">requirepoint desc</when>
	        <otherwise>board_no desc</otherwise>
    	</choose>
		limit #{startNum},#{amount};
	</select>

	<select id="count" resultType="int" parameterType="String">
		select count(*) from board where subject like concat('%',#{search},'%');
	</select>
	
	<insert id="BoardInsert" parameterType="bdto">
		insert into board(no, subject, requirepoint, content, writeday) values(#{no}, #{subject}, #{requirepoint}, #{content}, now())
	</insert>
	
	<select id="getInsertNum" resultType="int" parameterType="String">
		select max(board_no) from board where no=#{no}
	</select>
	
	<select id="getData" resultType="bdto" parameterType="String">
		select b.*,m.* from board b, member m where b.no=m.no and board_no=#{board_no}
	</select>
	
	<update id="updateReadcount" parameterType="String">
		update board set readcount=readcount+1 where board_no = #{board_no}
	</update>
</mapper>