<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.data.BoardCardMapper">
	<select id="getAllDatas" resultType="bcdto" parameterType="String">
		select * from board_card where cardset_no = #{board_no}
	</select>
	<insert id="BoardCardInsert" parameterType="bcdto">
		insert into board_card(cardset_no, question_no, question, answer, imgFile) values(#{cardset_no}, #{question_no}, #{question}, #{answer}, #{imgFile})
	</insert>
	<select id="searchImgFile" parameterType="String" resultType="String">
		select imgFile
		from board_card
		where answer = #{search} and imgFile != ''
	</select>
	
	<select id="getCardList" parameterType="Map" resultType="bcdto">
		select 
			cardset_no, 
			question_no, 
			question, 
			answer,
			imgFile,
			if(
				imgFile != '', 
				concat('http://localhost:9000/card/img/',imgFile),
				''
			) as imgSrc
		from board_card
		where cardset_no = #{board_no}
	</select>
	<select id="getImgList" parameterType="Integer" resultType="String">
		select imgFile
		from board_card
		where cardset_no = #{board_no}
	</select>
	
	<delete id="deleteCard" parameterType="Integer">
		delete
		from board_card
		where cardset_no = #{board_no}
	</delete>
	
	<insert id="insertCard" parameterType="cdto">
		insert into board_card(cardset_no, question_no, question, answer, imgFile) 
		values (#{cardset_no},#{question_no},#{question},#{answer},#{imgFile})
	</insert>
</mapper>