<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="card.mapper.CardMapper">
	<select id="list" resultType="cdto">
		select * from cardset
	</select>
	
	<select id="count" resultType="int">
		select count(*) from cardset
	</select>
	
	
	<insert id="CardInsert" parameterType="cdto">
		insert into card(cardset_no, question_no, question, answer, imgFile, category) values(#{cardset_no}, #{question_no}, #{question}, #{answer}, #{imgFile}, #{category})
	</insert>
	
	<insert id="insertCard" parameterType="cdto">
		insert into card(cardset_no, question_no, question, answer, imgFile) 
		values (#{cardset_no},#{question_no},#{question},#{answer},#{imgFile})
	</insert>
	
	<select id="searchImgFile" parameterType="String" resultType="String">
		select imgFile
		from card
		where answer = #{search}
	</select>
</mapper>