<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
         <typeAlias alias="cdto" type="card.dto.CardDTO" />
         <typeAlias alias="mdto" type="member.dto.MemberDTO" />
         <typeAlias alias="bdto" type="board.data.BoardDto" />
         <typeAlias alias="csdto" type="card.dto.CardSetDTO" />
         <typeAlias alias="bcdto" type="board.data.BoardCardDto" />
         <typeAlias alias="pdto" type="point.dto.PointDto" />
         <typeAlias alias="rdto" type="record.dto.RecordDTO" />
         <typeAlias alias="ddto" type="record.dto.DetailRecordDTO" />
         <typeAlias alias="stdto" type="record.dto.StudyDTO" />
    </typeAliases>	
	<mappers>
		<mapper resource="mapper/CardSqlMapper.xml" />
		<mapper resource="mapper/MemberSqlMapper.xml" />
		<mapper resource="mapper/BoardSqlMapper.xml" />
		<mapper resource="mapper/CardSetSqlMapper.xml" />
		<mapper resource="mapper/BoardCardSqlMapper.xml" />
		<mapper resource="mapper/RecordSqlMapper.xml" />
	</mappers>
</configuration>
