<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
         <typeAlias alias="cdto" type="card.dto.CardDTO" />
         <typeAlias alias="mdto" type="member.dto.MemberDTO" />
         <typeAlias alias="bdto" type="board.data.BoardDto" />
         <typeAlias alias="csdto" type="card.dto.CardSetDTO" />
    </typeAliases>	
	<mappers>
		<mapper resource="mapper/CardSqlMapper.xml" />
		<mapper resource="mapper/MemberSqlMapper.xml" />
		<mapper resource="mapper/BoardSqlMapper.xml" />
		<mapper resource="mapper/CardSetSqlMapper.xml" />
	</mappers>
</configuration>
